{% extends "page.html" %}
{% block content %}
{% for character in characterSelect %}
<table style="margin: auto">
    <tr>
        <td colspan="2" style="text-align: center;"><h1>{{character.character}}</h1></td>
    </tr>
    <tr>
        <td colspan="6" style="padding-right: 75px"><img src="../../static/{{ character.picture }}" style="border: 2px solid rgb(82, 71, 89);" height="467" width="350"/></td>
        <td style="padding-left: 10px;">
            <p style="color:black; background-color: aliceblue; font-size: 30pt;">
                Character Name: {{character.name}} <br />
                Actor: {{character.actor}}<br />
                Role: {{character.role}} <br />
            </p>
        </td>
    </tr>
</table>
{% endfor %}
{% endblock %}